
      <h1><center><strong>The best tool you need to perform in crypto trading</strong></center></h1>
      <script type=text/javascript> $(function() { $("#button").click(function (event) { $.getJSON('/SomeFunction', { }, function(data) { }); return false; }); }); </script>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <script src="{{url_for('static', filename='javascript/fonctions.js')}}"></script>


      <center><button name="button">Refresh page</button></center><br>
  <!DOCTYPE html>
 
            <html>
 
                <head>
 
                    <meta charset="utf-8" />
 
                    <title>Python Project Crypto-Currencies</title>
 
                </head>
 
                <body>
                    Crypto currency n° 1 from CMC analysis : Bitcoin<br>Currency's price : 19307.597374491837euros.<br>Percent change last 24hours : -0.25230475%.<br>Percent change last hour : -0.70728392%.<br><br>
                </body>
 
            </html><!DOCTYPE html>
 
            <html>
 
                <head>
 
                    <meta charset="utf-8" />
 
                    <title>Python Project Crypto-Currencies</title>
 
                </head>
 
                <body>
                    Crypto currency n° 2 from CMC analysis : Ethereum<br>Currency's price : 496.40270036485566euros.<br>Percent change last 24hours : -2.66281625%.<br>Percent change last hour : -0.86047755%.<br><br>
                </body>
 
            </html><!DOCTYPE html>
 
            <html>
 
                <head>
 
                    <meta charset="utf-8" />
 
                    <title>Python Project Crypto-Currencies</title>
 
                </head>
 
                <body>
                    Crypto currency n° 3 from CMC analysis : Tether<br>Currency's price : 0.8198007369122506euros.<br>Percent change last 24hours : -0.70144912%.<br>Percent change last hour : -0.17686733%.<br><br>
                </body>
 
            </html><!DOCTYPE html>
 
            <html>
 
                <head>
 
                    <meta charset="utf-8" />
 
                    <title>Python Project Crypto-Currencies</title>
 
                </head>
 
                <body>
                    Crypto currency n° 4 from CMC analysis : XRP<br>Currency's price : 0.257051263428679euros.<br>Percent change last 24hours : -36.09996782%.<br>Percent change last hour : -8.59525528%.<br><br>
                </body>
 
            </html><!DOCTYPE html>
 
            <html>
 
                <head>
 
                    <meta charset="utf-8" />
 
                    <title>Python Project Crypto-Currencies</title>
 
                </head>
 
                <body>
                    Crypto currency n° 5 from CMC analysis : Litecoin<br>Currency's price : 85.80027443558116euros.<br>Percent change last 24hours : -5.96372701%.<br>Percent change last hour : -3.78100954%.<br><br>
                </body>
 
            </html><!DOCTYPE html>
 
            <html>
 
                <head>
 
                    <meta charset="utf-8" />
 
                    <title>Python Project Crypto-Currencies</title>
 
                </head>
 
                <body>
                    Crypto currency n° 6 from CMC analysis : Bitcoin Cash<br>Currency's price : 236.19902289953788euros.<br>Percent change last 24hours : -9.92934572%.<br>Percent change last hour : -2.06380917%.<br><br>
                </body>
 
            </html><!DOCTYPE html>
 
            <html>
 
                <head>
 
                    <meta charset="utf-8" />
 
                    <title>Python Project Crypto-Currencies</title>
 
                </head>
 
                <body>
                    Crypto currency n° 7 from CMC analysis : Chainlink<br>Currency's price : 9.504035609793268euros.<br>Percent change last 24hours : -7.09347026%.<br>Percent change last hour : -2.23468635%.<br><br>
                </body>
 
            </html><!DOCTYPE html>
 
            <html>
 
                <head>
 
                    <meta charset="utf-8" />
 
                    <title>Python Project Crypto-Currencies</title>
 
                </head>
 
                <body>
                    Crypto currency n° 8 from CMC analysis : Binance Coin<br>Currency's price : 26.199978334867975euros.<br>Percent change last 24hours : -5.78852607%.<br>Percent change last hour : -1.46972976%.<br><br>
                </body>
 
            </html><!DOCTYPE html>
 
            <html>
 
                <head>
 
                    <meta charset="utf-8" />
 
                    <title>Python Project Crypto-Currencies</title>
 
                </head>
 
                <body>
                    Crypto currency n° 9 from CMC analysis : Cardano<br>Currency's price : 0.11827503693791967euros.<br>Percent change last 24hours : -9.42745293%.<br>Percent change last hour : -1.7874997%.<br><br>
                </body>
 
            </html><!DOCTYPE html>
 
            <html>
 
                <head>
 
                    <meta charset="utf-8" />
 
                    <title>Python Project Crypto-Currencies</title>
 
                </head>
 
                <body>
                    Crypto currency n° 10 from CMC analysis : Polkadot<br>Currency's price : 4.008271854219498euros.<br>Percent change last 24hours : -3.44474593%.<br>Percent change last hour : -1.6477711%.<br><br>
                </body>
 
            </html><!DOCTYPE html>
 
            <html>
 
                <head>
 
                    <meta charset="utf-8" />
 
                    <title>Python Project Crypto-Currencies</title>
 
                </head>
 
                <body>
                    Crypto currency n° 11 from CMC analysis : USD Coin<br>Currency's price : 0.8199867874548096euros.<br>Percent change last 24hours : -0.6958887%.<br>Percent change last hour : -0.17759565%.<br><br>
                </body>
 
            </html><!DOCTYPE html>
 
            <html>
 
                <head>
 
                    <meta charset="utf-8" />
 
                    <title>Python Project Crypto-Currencies</title>
 
                </head>
 
                <body>
                    Crypto currency n° 12 from CMC analysis : Stellar<br>Currency's price : 0.11425455793026204euros.<br>Percent change last 24hours : -17.29773196%.<br>Percent change last hour : -4.36830599%.<br><br>
                </body>
 
            </html><!DOCTYPE html>
 
            <html>
 
                <head>
 
                    <meta charset="utf-8" />
 
                    <title>Python Project Crypto-Currencies</title>
 
                </head>
 
                <body>
                    Crypto currency n° 13 from CMC analysis : Bitcoin SV<br>Currency's price : 128.87440305806624euros.<br>Percent change last 24hours : -8.93231716%.<br>Percent change last hour : -2.56673713%.<br><br>
                </body>
 
            </html><!DOCTYPE html>
 
            <html>
 
                <head>
 
                    <meta charset="utf-8" />
 
                    <title>Python Project Crypto-Currencies</title>
 
                </head>
 
                <body>
                    Crypto currency n° 14 from CMC analysis : Monero<br>Currency's price : 134.55100841289385euros.<br>Percent change last 24hours : 5.57970057%.<br>Percent change last hour : -2.3269621%.<br><br>
                </body>
 
            </html><!DOCTYPE html>
 
            <html>
 
                <head>
 
                    <meta charset="utf-8" />
 
                    <title>Python Project Crypto-Currencies</title>
 
                </head>
 
                <body>
                    Crypto currency n° 15 from CMC analysis : Wrapped Bitcoin<br>Currency's price : 19373.570577573428euros.<br>Percent change last 24hours : -0.06492854%.<br>Percent change last hour : -0.73805325%.<br><br>
                </body>
 
            </html><!DOCTYPE html>
 
            <html>
 
                <head>
 
                    <meta charset="utf-8" />
 
                    <title>Python Project Crypto-Currencies</title>
 
                </head>
 
                <body>
                    Crypto currency n° 16 from CMC analysis : EOS<br>Currency's price : 2.1338845948377325euros.<br>Percent change last 24hours : -11.50096958%.<br>Percent change last hour : -2.25978705%.<br><br>
                </body>
 
            </html><!DOCTYPE html>
 
            <html>
 
                <head>
 
                    <meta charset="utf-8" />
 
                    <title>Python Project Crypto-Currencies</title>
 
                </head>
 
                <body>
                    Crypto currency n° 17 from CMC analysis : NEM<br>Currency's price : 0.21523893948270448euros.<br>Percent change last 24hours : -5.43329506%.<br>Percent change last hour : -2.35372708%.<br><br>
                </body>
 
            </html><!DOCTYPE html>
 
            <html>
 
                <head>
 
                    <meta charset="utf-8" />
 
                    <title>Python Project Crypto-Currencies</title>
 
                </head>
 
                <body>
                    Crypto currency n° 18 from CMC analysis : TRON<br>Currency's price : 0.022023892387395997euros.<br>Percent change last 24hours : -8.94546939%.<br>Percent change last hour : -2.05197964%.<br><br>
                </body>
 
            </html><!DOCTYPE html>
 
            <html>
 
                <head>
 
                    <meta charset="utf-8" />
 
                    <title>Python Project Crypto-Currencies</title>
 
                </head>
 
                <body>
                    Crypto currency n° 19 from CMC analysis : Tezos<br>Currency's price : 1.645141635907471euros.<br>Percent change last 24hours : -7.93658305%.<br>Percent change last hour : -1.35142092%.<br><br>
                </body>
 
            </html><!DOCTYPE html>
 
            <html>
 
                <head>
 
                    <meta charset="utf-8" />
 
                    <title>Python Project Crypto-Currencies</title>
 
                </head>
 
                <body>
                    Crypto currency n° 20 from CMC analysis : UNUS SED LEO<br>Currency's price : 1.1093341981492342euros.<br>Percent change last 24hours : -0.87073511%.<br>Percent change last hour : -0.18612498%.<br><br>
                </body>
 
            </html><!DOCTYPE html>
 
            <html>
 
                <head>
 
                    <meta charset="utf-8" />
 
                    <title>Python Project Crypto-Currencies</title>
 
                </head>
 
                <body>
                    Crypto currency n° 21 from CMC analysis : Crypto.com Coin<br>Currency's price : 0.04799176158989792euros.<br>Percent change last 24hours : -4.52964564%.<br>Percent change last hour : -1.10189138%.<br><br>
                </body>
 
            </html><!DOCTYPE html>
 
            <html>
 
                <head>
 
                    <meta charset="utf-8" />
 
                    <title>Python Project Crypto-Currencies</title>
 
                </head>
 
                <body>
                    Crypto currency n° 22 from CMC analysis : THETA<br>Currency's price : 0.953549801851982euros.<br>Percent change last 24hours : 7.12577123%.<br>Percent change last hour : 2.99851966%.<br><br>
                </body>
 
            </html><!DOCTYPE html>
 
            <html>
 
                <head>
 
                    <meta charset="utf-8" />
 
                    <title>Python Project Crypto-Currencies</title>
 
                </head>
 
                <body>
                    Crypto currency n° 23 from CMC analysis : Dai<br>Currency's price : 0.8222980328603934euros.<br>Percent change last 24hours : -0.531381%.<br>Percent change last hour : -0.13739122%.<br><br>
                </body>
 
            </html><!DOCTYPE html>
 
            <html>
 
                <head>
 
                    <meta charset="utf-8" />
 
                    <title>Python Project Crypto-Currencies</title>
 
                </head>
 
                <body>
                    Crypto currency n° 24 from CMC analysis : Neo<br>Currency's price : 12.335969536826957euros.<br>Percent change last 24hours : -9.88319849%.<br>Percent change last hour : -1.74177198%.<br><br>
                </body>
 
            </html><!DOCTYPE html>
 
            <html>
 
                <head>
 
                    <meta charset="utf-8" />
 
                    <title>Python Project Crypto-Currencies</title>
 
                </head>
 
                <body>
                    Crypto currency n° 25 from CMC analysis : Filecoin<br>Currency's price : 19.033080808501953euros.<br>Percent change last 24hours : -8.42603547%.<br>Percent change last hour : -3.53545903%.<br><br>
                </body>
 
            </html><!DOCTYPE html>
 
            <html>
 
                <head>
 
                    <meta charset="utf-8" />
 
                    <title>Python Project Crypto-Currencies</title>
 
                </head>
 
                <body>
                    Crypto currency n° 26 from CMC analysis : Revain<br>Currency's price : 0.00955485347373702euros.<br>Percent change last 24hours : -0.67523815%.<br>Percent change last hour : -0.10568839%.<br><br>
                </body>
 
            </html><!DOCTYPE html>
 
            <html>
 
                <head>
 
                    <meta charset="utf-8" />
 
                    <title>Python Project Crypto-Currencies</title>
 
                </head>
 
                <body>
                    Crypto currency n° 27 from CMC analysis : Dash<br>Currency's price : 79.61896653926772euros.<br>Percent change last 24hours : -7.50757428%.<br>Percent change last hour : -0.94604385%.<br><br>
                </body>
 
            </html><!DOCTYPE html>
 
            <html>
 
                <head>
 
                    <meta charset="utf-8" />
 
                    <title>Python Project Crypto-Currencies</title>
 
                </head>
 
                <body>
                    Crypto currency n° 28 from CMC analysis : Cosmos<br>Currency's price : 3.7738852904879563euros.<br>Percent change last 24hours : -8.35100642%.<br>Percent change last hour : -1.82494181%.<br><br>
                </body>
 
            </html><!DOCTYPE html>
 
            <html>
 
                <head>
 
                    <meta charset="utf-8" />
 
                    <title>Python Project Crypto-Currencies</title>
 
                </head>
 
                <body>
                    Crypto currency n° 29 from CMC analysis : VeChain<br>Currency's price : 0.011808800373362082euros.<br>Percent change last 24hours : -9.88803573%.<br>Percent change last hour : -1.60694708%.<br><br>
                </body>
 
            </html><!DOCTYPE html>
 
            <html>
 
                <head>
 
                    <meta charset="utf-8" />
 
                    <title>Python Project Crypto-Currencies</title>
 
                </head>
 
                <body>
                    Crypto currency n° 30 from CMC analysis : Aave<br>Currency's price : 62.13367530981191euros.<br>Percent change last 24hours : -8.68896701%.<br>Percent change last hour : -2.4368525%.<br><br>
                </body>
 
            </html>