{% extends "base.html" %}
{% block title %} Cryptotrading {% endblock %}

{% block script %}
<script type=text/javascript> $(function() { $("#button").click(function (event) { $.getJSON('/SomeFunction', { }, function(data) { }); return false; }); }); </script>
<script src="{{url_for('static', filename='javascript/fonctions.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
{% endblock %}

{% block link %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block content %}
	<h1><center><strong>The best tool you need to perform in crypto trading</strong></center></h1>
	<center><a href="{{ url_for('index') }}"><button type="button" class="btn btn-primary"></buttontype>Actualiser</button></a></center><br>
	{% for _ in data %}
		<p>{% print(_) %}</p>
	{% endfor %}
	<img src="{{ url_for('visualize') }}">
{% endblock %}